<ion-header>
    <ion-navbar>
      <ion-title>
        About Us
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <br><br>
      <h2>Heading</h2>
      <p>Please login to check your booking information.</p>
  </ion-content>
  