<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login/SignUp</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
<h1 text-center>Login/SignUp</h1>
<br>
    <ion-item>
      <ion-label color="primary" fixed style="min-width: 10px; display: block; max-width: 36px; color: #000; font-weight: bold;">+91-</ion-label>
      <ion-input type="tel" placeholder="Mobile Number" name="phone" [(ngModel)]="userData.phone" [value]="test" style="margin: 13px -5px;font-weight: bold;"></ion-input>
    </ion-item>
<!--   
    <ion-item>
      <ion-input type="number" placeholder="Number Input with no label"></ion-input>
    </ion-item> -->
  
  </ion-list>
  <div padding>
    <button ion-button  outline block (click)="signup()">Login/SignUp</button>
  </div>
</ion-content>
