<!--
  Generated template for the SearchbarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Search for a services</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of categoryItems">
      <img src="../../assets/imgs/category_logo/beauty.jpeg" width="20px"> {{item }}
    </ion-item>
  </ion-list>
</ion-content>
