<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="My Bookings" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="My Wallets" tabIcon="basket"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="person"></ion-tab>
</ion-tabs>
