<ion-header>
  <ion-navbar>
    <ion-title>
      My Booking
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
    <div class="before_login" *ngIf="before_login">
      <h2>Whoops, You are not login!</h2>
      <p>Please login to check your wallet information.</p>
      <button ion-button text-center large color="dark" (click)="login()">LOGIN</button>
    </div>
    <div class="after_login" *ngIf="after_login">
      <div>
        <ion-segment [(ngModel)]="booking">
          <ion-segment-button value="current">
            Current
          </ion-segment-button>
          <ion-segment-button value="history">
            Hisotry
          </ion-segment-button>
        </ion-segment>
      </div>
      
      <div [ngSwitch]="booking">
        <ion-list *ngSwitchCase="'current'">
          <ion-item>
            <ion-thumbnail item-start>
              <img src="https://ionicframework.com/dist/preview-app/www/assets/img/thumbnail-kitten-1.jpg">
            </ion-thumbnail>
            <h2>Ruby</h2>
          </ion-item>
          ...
        </ion-list>
      
        <ion-list *ngSwitchCase="'history'">
          <ion-item>
            <ion-thumbnail item-start>
              <img src="https://ionicframework.com/dist/preview-app/www/assets/img/thumbnail-kitten-1.jpg">
            </ion-thumbnail>
            <h2>Luna</h2>
          </ion-item>
          ...
        </ion-list>
      </div>
    </div>
</ion-content>
