page-booking {
    .after_login{text-align: left;}
    .after_login h2{font-size: 18px; border-bottom: 1px dashed grey; padding: 10px 0; border-top: 1px dashed grey;}
    .after_login h1{font-size: 20px;}
    .after_login p{font-size: 14px; font-weight: normal;}
    .use_credits{
        display: inline-block;
        float: right;
        font-size: 16px;
        color: green;
    }

    .before_login{margin-top:20px; text-align: left;}
    .before_login h2{font-size: 18px; border-bottom: 1px dashed grey; padding: 10px 0; border-top: 1px dashed grey;}
    .before_login h1{font-size: 20px;}
    .before_login p{font-size: 14px; font-weight: normal;}
}
