<ion-header>
    <ion-navbar primary>
      <ion-title style="color:#fff">
        <h2 style="color:#fff; font-size:14px;">My Profile</h2>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
    <ion-content style="background:#ED0027; color: #fff;">
      <div id="content" *ngIf="showProfile"> 
        <div id="profile-info">
          <img id="profile-image" [src]="myPhoto">
          <!-- <img id="profile-image" [src]="myPhoto" *ngIf="showPhoto"> -->
          <h3 id="profile-name">{{userData.username}}</h3>
          <span id="profile-description"><strong>PHONE: </strong>{{userData.phone}}</span><br>
          <span id="profile-description"><strong>REGISTRATION DATE:</strong> {{created | date: 'short'}}</span><br><br>
          <span id="profile-description"><strong style="color:green" (click)="profilePhoto()">Update Photo</strong> </span><br><br>
          <span id="profile-description"><strong style="color:firebrick" (click)="logout()">Sign Out</strong> </span>
        </div>
        <ion-list>
          <ion-item>
            
          </ion-item>
        </ion-list>
      </div>

      <div *ngIf="editProfile">
          <ion-list>
              <ion-item>
                <ion-label stacked>Full Name</ion-label>
                <ion-input type="text" name="username" [(ngModel)]="userData.username"></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-label stacked>Phone</ion-label>
                <ion-input type="text" [(ngModel)]="userData.phone"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Address</ion-label>
                <ion-input type="text" [(ngModel)]="userData.address"></ion-input>
              </ion-item>
              <div padding>
                  <button ion-button color="secondary" (click)="updateProfile()">Update Photo</button>
              </div>
            </ion-list>
      </div>
    </ion-content>