<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
    <ion-list *ngIf="showProfile">
        <ion-item (click)="login()">
          <ion-icon name="people" item-start></ion-icon>
            LOGIN
        </ion-item>
        <ion-item>
          <ion-icon name="leaf" item-start></ion-icon>
            Register as a Partner
        </ion-item>
        <ion-item (click)='aboutUsPage()'>
          <ion-icon name="clipboard" item-start></ion-icon>
           About Us
        </ion-item>
    </ion-list>

    <ion-list *ngIf="showFullProfile">
        <ion-item>
            <ion-thumbnail item-start>
              <img [src]="myPhoto">
            </ion-thumbnail>
            <h2>{{userData.username}}</h2>
            <h2>{{userData.phone}}</h2>
            <p>Current Location: {{userData.address}}</p>
            <button ion-button clear item-end (click)='editProfile()'><ion-icon name="person"></ion-icon></button>
          </ion-item>
          <ion-item>
            <ion-icon name="leaf" item-start></ion-icon>
              Register as a Partner
          </ion-item>
          <ion-item (click)='aboutUsPage()'>
            <ion-icon name="clipboard" item-start></ion-icon>
             About Us
          </ion-item>
    </ion-list>
    
</ion-content>
