<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Confirm Enquiry</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
<h1 text-center>Thanks For Enquiry</h1>
<br>
    <ion-item text-center>
      Our Representative Contact you soon.!!
    </ion-item>
  
    <ion-item>
      <ion-input type="number" placeholder="Number Input with no label"></ion-input>
    </ion-item>
  
  </ion-list>
  <div padding>
    <button ion-button  outline block (click)="makePayment()">Confirm Enquiry</button>
  </div>
</ion-content>
