<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Enter OTP</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
<h1 text-center>Enter OTP sent to your phone</h1>
<br>
    <ion-item>
      <ion-input type="tel" placeholder="Mobile Number" name="otp" [(ngModel)]="otpData.otp"></ion-input>
    </ion-item>
<!--   
    <ion-item>
      <ion-input type="number" placeholder="Number Input with no label"></ion-input>
    </ion-item> -->
  
  </ion-list>
  <div padding>
    <button ion-button  outline block (click)="userActivate()">Submit</button>
  </div>
</ion-content>
