<ion-header>
  <ion-navbar>
    <ion-title>
      My Wallet
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <br><br>
    <h2>Whoops, You are not login!</h2>
    <p>Please login to check your wallet information.</p>
    <button ion-button text-center large color="dark" (click)="login()">LOGIN</button>
</ion-content>
