<ion-header>
  <ion-navbar>
    <ion-title>ORDER BOLO</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="home_container">
    <ion-row>
      <ion-col>
        <ion-item class="search_bar">
            <ion-icon name="search" item-left primary></ion-icon>
            <ion-input type="text" placeholder="Search Services" (click)="gotToSearch()" disabled></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- banner start here -->
  <ion-grid class="banners">
    <ion-row>
      <ion-col>
        <ion-slides pager="true" autoplay="5000" loop="true" speed="2000">
          <ion-slide>
            <ion-card (click)="goToDC()">
              <img src="../../assets/imgs/massage_and_fitness.jpg"/>
              <h1 class="document_doctor_btn">DOCUMENT DOCTOR</h1>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <img src="../../assets/imgs/massage_and_fitness.jpg" />
          </ion-slide>
        
          <ion-slide>
            <img src="../../assets/imgs/massage_and_fitness.jpg" />
          </ion-slide>
        
        
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

<!-- feature services start here -->
  <ion-grid class="feature_services">
    <ion-row>
      <ion-col>
          <ion-card *ngFor="let feature of featuerServices; let i=index">
            <ion-item (click)="goToListingPage(feature.category.id)">
              <ion-avatar item-start style="width: 50%;">
                  <h2>{{feature.category.title}}</h2>
                  <p>Up to 50% Off</p>
              </ion-avatar> 
              <ion-icon name="arrow-forward"></ion-icon>
              <img src="{{imgServiceUrl}}{{feature.category.photo}}" item-end>
            </ion-item>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

<!-- category section goes here -->
  <ion-grid class="category_section">
      <ion-row>
          <ion-col col-4 *ngFor="let data of Finaldata; let i = index">
              <ion-card (click)="goToSubcategory(data.category.id)">
                <img src="{{imgBaseUrl}}/{{data.category.img}}">          
                <ion-card-content>
                  <p>{{data.category.name}}</p>
                </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>

    <!-- lear more about order bolo terms -->
    <ion-grid class="feature_services">
      <ion-row>
        <ion-col>
            <ion-card>
                <ion-item>
                  <ion-avatar item-start>
                    <img src="../../assets/imgs/protection.jpeg">
                  </ion-avatar>
                  <h2>OrderBolo Insurance Protection</h2>
                </ion-item>
                <ion-card-content>
                  <p style="color:black">Upto Rs. 10000 Insurance Protection with every service request</p>
                  <p>Learn more</p>
                </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  
</ion-content>
