page-home {
    .home_container{
        padding: 0px !important;
        background: #000000 !important;
    }
    .search_bar{
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #ffffff !important; 
    }
    .banners{
        padding: 0px !important;
        background: #ffffff !important;
    }
    .banners .row , .banners .card, .banners .col{
        padding: 0px !important;
        margin: 0px !important;
        width: 100% !important;
        background: #ffffff !important;
    }

    .feature_services{
        padding: 0px !important;
        background: #e1e1e1 !important;
    }

    .feature_services .row , .feature_services .col{
        padding: 0px !important;
        margin: 0px !important;
        width: 100% !important;
    }

    .feature_services .card{
        margin: 15px 0px 15px 0px !important;
        width: 100%;
    }
    .feature_services h2 {
        color: #000;
        font-size: 15px;
        font-weight: bold;
    } .feature_services p {
        color: green;
        font-size: 14px;
    }

    .category_section{
        padding: 0px !important;
        background: #ffffff !important;
    }


    .category_section .row , .category_section .col{
        padding: 0px !important;
        margin: 0px !important;
        width: 100% !important;
    }

    .category_section .card{
        margin: 0px !important;
        width: 100%;
        border-radius: 0px !important;
        border: 1px solid #ccc;
        text-align: center;
        padding: 4px;
    }
    .category_section .card img{
        width:50px;
        height: 50px;
        margin: 0 auto
    }
    .category_section .card-content p{
        font-size: 10px !important;
        text-align: center;
    }
    .category_section .card-content{
        padding: 0px !important;
        font-size: 10px !important;
        text-align: center;
    }
    .document_doctor_btn{
        position: absolute;
        top: 70px;
        text-align: center;
        right: 0;
        left: 0;
        color: green;
        font-weight: bold;
        display: block;
        padding: 10px;
        background: #fff;
        width: 78%;
        margin: 0 auto;
        border-radius: 10px;
    }
}
