<!--
  Generated template for the SubcategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Massage for Men</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <h1 style="font-size: 18px; text-align: center;">SELECT YOUR THERAPY</h1>
  <hr style="width: 25%; display: block; border: 1px solid #ccc; background: #ccc; margin-bottom: 10px;">
    <hr>
      <ion-list radio-group [(ngModel)]="relationship" *ngFor="let data of mydata; let i=index;">
        <ion-item>
          <ion-label style="font-size:16px; font-weight:bold; ">{{data.title}}</ion-label>
          <ion-radio value="friends" checked></ion-radio>
        </ion-item>
        <ion-item>
          <!-- <<ion-avatar item-start>
            <img src="img/avatar-finn.png">
          </ion-avatar>> -->
          <h2 style="font-weight:bold">Rs. {{data.price}} <ion-badge color="danger" item-end>20% Off</ion-badge></h2>
          <!-- <h3>{{data.description}}</h3> -->
          <p>{{data.description}}</p>
        </ion-item>
        <ion-item>
            <ion-slides class="slider-height">
                <ion-slide>
                    <ion-grid>
                      <ion-row>
                          <ion-col col-6>
                              <img src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep/categories/category_v2/category_9f978370.png" >
                          </ion-col>
                          <ion-col col-6>
                              <img src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep/categories/category_v2/category_9f978370.png" >
                          </ion-col>
                      </ion-row>
                    </ion-grid>
                </ion-slide>
                <ion-slide>
                    <ion-grid>
                      <ion-row>
                          <ion-col col-6>
                              <img src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep/categories/category_v2/category_9f978370.png" >
                          </ion-col>
                          <ion-col col-6>
                              <img src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep/categories/category_v2/category_9f978370.png" >
                          </ion-col>
                      </ion-row>
                    </ion-grid>
                </ion-slide>  
            </ion-slides>
        </ion-item>

      <ion-footer text-center>
          <button ion-button full (click)="getAddress(data.id, data.price,data.title)">Next</button>
      </ion-footer>
      </ion-list>
    <hr>
</ion-content>
