page-product-listing {
    .slider-height{
		
		height:120px;
        min-height:120px;
	}

	.slide-zoom {
		// height:200px;
		height: 120px;
		// overflow:hidden;
	}

       ion-slides {
          height: 120px;
       }
   
    .swiper-slide img{
        width:160px !important;
        height: 90px !important;
    }
}
