<ion-header>
  <ion-navbar>
    <ion-title>
      Add Money in Wallet
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
<h1 text-center>Add Amount</h1>
<br>
    <ion-item>
      <ion-input type="text" placeholder="Enter Amount" name="phone" [(ngModel)]="amount" ></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button  outline block (click)="addMoney()">Add Money</button>
  </div>
</ion-content>
