<ion-header>
  <ion-navbar>
    <ion-title>Document Doctor</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<!-- category section goes here -->
  <ion-grid class="category_section">
      <ion-row>
          <ion-col col-4 *ngFor="let data of Finaldata; let i = index">
              <ion-card (click)="goToDetailPage(data.id)">
                <img src="{{imgCategoryUrl}}/{{data.img}}">          
                <ion-card-content>
                  <p>{{data.name}}</p>
                </ion-card-content>
              </ion-card>
          </ion-col>
          <ion-col col-4>
            <ion-card (click)="eSeva()">
              <img src="../../assets/imgs/logo.png">          
              <ion-card-content>
                <p>Name</p>
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  
</ion-content>
