page-seva-home {
    .home_container{
        padding: 15px !important;
        background: #000000 !important;
    }

    .category_section{
        padding: 0px !important;
        background: #ffffff !important;
    }


    .category_section .row , .category_section .col{
        padding: 0px !important;
        margin: 0px !important;
        width: 100% !important;
    }

    .category_section .card{
        margin: 0px !important;
        width: 100%;
        border-radius: 0px !important;
        border: 1px solid #ccc;
        text-align: center;
        padding: 4px;
    }
    .category_section .card img{
        width:50px;
        height: 50px;
        margin: 0 auto
    }
    .category_section .card-content p{
        font-size: 10px !important;
        text-align: center;
    }
    .category_section .card-content{
        padding: 0px !important;
        font-size: 10px !important;
        text-align: center;
    }
}
