<ion-header>
  <ion-navbar>
      <ion-title>Our Categories</ion-title>
  </ion-navbar>
      <ion-row class="filters" style="background:#4A7EFF;padding: 5px 0;">
          <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
              <ion-icon *ngIf="showLeftButton" name="arrow-back"></ion-icon>
          </ion-col>
          <ion-col no-padding col-10>
              <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="3">
                  <ion-slide (click)="filterData(category.subCategoryList.id)" *ngFor="let category of categories">
                      <p [class.selected]="selectedCategory?.id === category.subCategoryList.id">{{ category.subCategoryList.name }}</p>
                  </ion-slide>
              </ion-slides>
          </ion-col>
          <ion-col class="col-with-arrow" (click)="slideNext()" no-padding col-1>
              <!--<ion-icon *ngIf="showRightButton" name="arrow-forward"></ion-icon>-->
          </ion-col>
      </ion-row>
</ion-header>

<ion-content>
  <h1 style="font-size: 18px; text-align: center;">ADVERTISEMENTS</h1>
  <hr style="width: 25%; display: block; border: 1px solid #ccc; background: #ccc; margin-bottom: 10px;">
    <ion-slides class="slider-height">
        <ion-slide>
            <ion-grid>
              <ion-row>
                  <ion-col col-3  *ngFor="let categories of categories; let i=index">
                      <img src="https://www.freeiconspng.com/uploads/no-image-icon-6.png" width="50" height="50">
                  </ion-col>
              </ion-row>
            </ion-grid>
        </ion-slide> 
      </ion-slides>
<div *ngIf="allServices">
  <h1 style="font-size: 18px; text-align: center;">ALL TOP RATED SERVICES </h1>
  <hr style="width: 25%; display: block; border: 1px solid #ccc; background: #ccc; margin-bottom: 10px;">
    <ion-list>
        <ion-item *ngIf="errorMsg">
          {{msg}}
        </ion-item>
        <div *ngFor="let services of subCategoryServicesList">
        <ion-item (click)="goToListingPage(services.id)">
            <ion-avatar item-start>
                <img src="{{imgServiceUrl}}{{services.photo}}">
            </ion-avatar>
            <h2 style="vertical-align:middle;">{{services.title}}</h2>
        </ion-item>
        </div>
    </ion-list>
    <section class="customer-reviews">
    <h1 style="font-size: 18px; text-align: center; padding: 20px 0 10px 0;">WHAT OUR CUSTOMERS SAY</h1>
    <hr style="width: 25%; display: block; border: 1px solid #ccc; background: #ccc; margin-bottom: 10px;">
    <ion-card *ngFor="let review of customerReviewListByCategoryId; let i=index">
      <ion-card-content>
        <!-- {{review|json}} -->
        <p><i class="fa fa-quote-left"></i>&nbsp;{{review.description}}&nbsp;</p>
      </ion-card-content>
      <ion-item>
        <ion-avatar item-start *ngIf="review.photo.length !== 0">
          <img src="{{imgProfileUrl}}{{review.photo.length}}">
        </ion-avatar>
        <ion-avatar item-start *ngIf="review.photo.length == 0">
          <img src="https://www.freeiconspng.com/uploads/no-image-icon-6.png">
        </ion-avatar>
        <h2>{{review.username }}</h2>
        <p>{{review.address}}, {{review.created | date: 'dd MMM, yyyy'}}</p>
        <ion-badge item-end>{{review.rating}}</ion-badge>
      </ion-item>
    </ion-card>
  </section>
</div>
<div *ngIf="subCategoryServices">
    <h1 style="font-size: 18px; text-align: center;">ALL TOP RATED SERVICES </h1>
    <hr style="width: 25%; display: block; border: 1px solid #ccc; background: #ccc; margin-bottom: 10px;">
      <ion-list>
          <ion-item *ngIf="errorMsg">
              {{msg}}
          </ion-item>
          <div  *ngFor="let services of subCategorySeriviceData; let i=index">
            <ion-item (click)="goToListingPage(services.id)">
              <ion-avatar item-start *ngIf="services.photo.length !== 0">
                  <img src="{{imgServiceUrl}}{{services.photo}}">
              </ion-avatar>
              <ion-avatar item-start *ngIf="services.photo.length == 0">
                <img src="https://www.freeiconspng.com/uploads/no-image-icon-6.png">
              </ion-avatar>
              <h2 style="vertical-align:middle;">{{services.title}}</h2>
            </ion-item>
          </div>  
      </ion-list>
      <section class="customer-reviews">
      <h1 style="font-size: 18px; text-align: center; padding: 20px 0 10px 0;">WHAT OUR CUSTOMERS SAY</h1>
      <hr style="width: 25%; display: block; border: 1px solid #ccc; background: #ccc; margin-bottom: 10px;">
      <ion-card *ngFor="let review of customerReviewListByCategoryId; let i=index">
          <ion-card-content>
            <p><i class="fa fa-quote-left"></i>&nbsp;{{review.description}}&nbsp;</p>
          </ion-card-content>
          <ion-item>
              <ion-avatar item-start *ngIf="review.photo.length !== 0">
                  <img src="{{imgProfileUrl}}{{review.photo.length}}">
                </ion-avatar>
                <ion-avatar item-start *ngIf="review.photo.length == 0">
                  <img src="https://www.freeiconspng.com/uploads/no-image-icon-6.png">
                </ion-avatar>
            <h2>{{review.username }}</h2>
            <p>{{review.address}}, {{review.created}}</p>
            <ion-badge item-end>{{review.rating}}</ion-badge>
          </ion-item>
        </ion-card>
    </section>
</div>
</ion-content>
