page-subcategory {
    .slider-height{
		
		height:40px;
        background: #e1e1e1;
	}

       ion-slides {
          height: 40px;
       }
.customer-reviews{
    background: #e1e1e1;
}


.filters {

    ion-col {
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.6rem;

        ion-icon {
            color: #ccc;
        }

        &.col-with-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    p {
        color: #fff;
        margin: 0;
        font-size: 1.6rem;
        line-height: 1.6rem;
    }

    .selected {
        font-weight: 700;
    }
}

}
