// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
    color: #333333 !important;
}
.tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=true]{
    color: #333333 !important;
}
.tabs-md .tab-button[aria-selected=true]{
    color: #000000 !important;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon{
    color: #000000 !important;
}

.toolbar-background {
    background: #000000 !important;
}
.toolbar-title{
    color: #ffffff !important;
}
.tabs-md .tabbar{
    background: #ffffff !important;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: #ffffff !important;
}
.slider-height{
    min-height: 60px !important;
}

.item-md.item-block .item-inner{
    padding: 0px !important;
}