<!--
  Generated template for the GetAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Summary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header style="font-size:18px; font-weight:bold">
      SUMMARY
    </ion-list-header>
    <ion-item>
      <p style="font-size:16px; color:#000;">{{getDataUrl.title}}</p>
      <p>Service Price</p>
    <span item-end>Rs. {{getDataUrl.service_price}}</span>
    </ion-item>
    <ion-item>
        <p>Walle Balance</p>
      <span item-end>Rs. 490</span>
    </ion-item>
    <ion-item>
        <p style="font-size:16px; color:#000;">Needs to Pay</p>
      <span item-end>Rs. 490</span>
    </ion-item>
    <ion-item>
      <ion-label>Order Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="myDate"></ion-datetime>
    </ion-item> -->
    <ion-item>
      <ion-label>Order Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="myTime"></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer text-center>
  <button ion-button full (click)="getPayment()">Next</button>
</ion-footer>
