<ion-header>
  <ion-navbar>
    <ion-title>
      My Wallet
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
    
    <div class="before_login" *ngIf="before_login">
      <h2>Whoops, You are not login!</h2>
      <p>Please login to check your wallet information.</p>
      <button ion-button text-center large color="dark" (click)="login()">LOGIN</button>
    </div>
    <div class="after_login" *ngIf="after_login">
        <button ion-button round (click)="goToAddMoneyPage()">+ Add Money</button>
      <h2>TOTAL ORDERBOLO CREDIT</h2>
      <h1>Rs. 0 <span class="use_credits">Use Credits</span></h1>
      <p>If unused, OB credits expire 1 year after the data of addition</p>
      <h2>TRANSACTION HISTORY</h2>
      <P class="transaction_history">--No transactions--</P>
    </div>
</ion-content>
