<!--
  Generated template for the SevaOrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Upload Document</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="document_lists">
    <h1>Document Lists:</h1>
    <h3 *ngFor="let main of MainResponse;" style="text-align:center">{{main.name}}</h3>
    <ion-list>
      <ion-item *ngFor="let data of documentResponse" [ngSwitch]="false">
        <h2 *ngSwitchCase="checkM(data.id)">{{data.name}}</h2>
        <button ion-button clear item-end  *ngSwitchCase="checkM(data.id)" (click)="upload_photo(data.id, data.name)">Upload</button>
      </ion-item>
    </ion-list>
    <h1>Already Uploaded Document Lists:</h1>
    <ion-list style="font-size:11px;">
        <ion-item *ngFor="let doc of alreadyUploadedDoc; let i=index;" style="font-size:11px;">
            {{i+1}}. {{doc.certificate_name}}
          <ion-icon name="checkmark" item-end style="color:green; font-size:14px;"></ion-icon>
        </ion-item>
      </ion-list>
    <button ion-button full color="dark">Submit Request</button>
  </div>
</ion-content>
