<!--
  Generated template for the GetAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Address</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <br><br>
  <h1 text-center>Where do you need the service?</h1>
  <p>
  <button ion-button full color="secondary" icon-start (click)="getCurrentLocation()" *ngIf="gotLocation">
    <ion-icon name="compass"></ion-icon>
    Get Current Location
  </button>
  </p>
  <p><button ion-button full color="danger"*ngIf="gotLocation">Enter Address</button></p>
  <p text-center style="font-weight:bold; font-size:16px;">My Current Location : {{vikasData}}</p>
</ion-content>
<ion-footer text-center *ngIf="btnSubmit">
  <button ion-button full (click)="getSummary()">Next</button>
</ion-footer>
